.container {
    text-align: center;
    margin-top: 23px;
    text-decoration: underline;
}

table {
    margin: auto;
}

input {
    border-radius: 21px;
    border: 5px solid #244644;
    font-size: 34px;
    height: 65px;
    width: 305px;
}

button {
    border-radius: 20px;
    font-size: 40px;
    background: #b5b3b9;
    width: 70px;
    height: 65px;
    margin: 2px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.calculator {
    border: 4px solid #13695d;
    background-color: black;
    padding: 14px;
    border-radius: 35px;
    display: inline-block;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator input {
    text-align: right;
}

body {
    background: linear-gradient(to right, #f8e91551, #fac410d0);
}